
/* GENERAL */
*
{
    font-family: "Raleway", sans-serif;
}

h1
{
    font-size: 1.5em;
    font-weight: bold;
}

p, ul, dd, dt
{
    font-size: 1em;
}

.titre-site, .chapeau-titre
{
    margin-left: 30px;
}


/* logo - menu navigation*/
#logo
{
    width:77px;
    height:36px;
}

.bandeau_sup
{
    display: flex;
    margin-left: 30px;
    justify-content: space-between;
}

a
{
    text-decoration: none;
    color: black;
}
nav ul 
{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap-reverse;
}
nav li
{
    margin-right: 50px; 
} 
nav a:hover
{
    color: #0065FC;
    border-top: 1px solid  #0065FC;
    padding-top: 10px;
}
#inscription
{
    color:#0065FC ;
    font-weight: bold;
}

/* Formulaire Recherche de ville*/

.form_recherche
{
    display : flex;
    width: 35%;
    margin-left: 30px;
}
#picto_ville, #picto-ville
{
    background: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    padding : 10px;
}
#texte_ville, #texte-ville 
{
    border:1px solid #F2F2F2;
    padding : 10px 10px 10px 10px;
    font-weight: bold;
    color : black;
}
#texte_recherche
{
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 10px 10px 0px;
    padding: 10px 10px 10px 10px;
    color: #F2F2F2;
}

.responsive
{
    display: none;
}

/* Filtres et info*/
.light-grey
{
    color: #F2F2F2;
}
.blue
{
    color : #0065FC;
}
.light-blue
{
    color: #DEEBFF
}

.filtres-row
{
    display: flex;
}

.filtres
{
   display: flex;
   align-items: baseline;
   margin-left: 30px;
   font-weight: bold;
   
}
.border_filtre
{
    border: #F2F2F2 solid 2px; 
    border-radius: 20px;
    padding-right: 10px;
    margin-left: 50px;
}
.border_filtre:hover
{
    background: #F2F2F2;
}

.info
{
    margin-left: 30px;
}

.fa-stack
{
    margin-left:-10px;
}

/*section Hébergement */

.section
{
    display: flex;
    margin-bottom: 20px;
    margin-top: 30px;
}

.etoile
{
    display: flex;
    flex-direction: row;
}

.article
{
    background: #F2F2F2;
    margin : 0px 10px 0px 20px; 
    border-radius: 10px;
    flex: 2;
}

#hebergement
{
    padding: 30px 20px 10px 20px;
    font-weight: bold;
}

#afficher-plus
{
    padding: 30px 20px 0px 20px;
    font-weight: bold; 
}

.ensemble-fiches
{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;  
    margin-left : 15px;
    margin-right: 15px;
}

.fiche-hotel
{
    border-radius: 10px 10px 0px 0px;
    box-shadow: 2px 2px 2px grey; 
    border: solid 5px white;
    position : relative;
    width: 175px;
    height: 75px;
    margin : 30px 10px 50px 10px;
    padding: 50px 20px 20px 20px;
      
}

.radius
{
    border-radius: 10px 10px 0px 0px;
    width : 215px;
    height : 115px;
    position : relative;
    right: 20px;
    bottom : 50px;
}



.texte-hotel
{   
    position : absolute;
    background: white;
    border-radius: 0px 0px 10px 10px;
    border: solid 5px white;
    box-shadow: 2px 2px 2px gray;
    width: 205px;
    height: 60px;
    padding : 5px;
    top : 100px;
    left : -5px;
    line-height: 1.3em;
    
    
}

/*Section Populaire*/

aside
{
    background: #F2F2F2;
    border-radius: 10px 10px 10px 10px;
    margin : 0px 20px 0px 10px;
    flex : 1;
}
.titre-aside
{
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 10px 20px;
    font-weight : bold;
}

.ensemble-plus-populaire
{
   display: flex;
   flex-direction: column; 
   flex-wrap: wrap;
   margin-left: 20px;
   margin-right: 20px;
   margin-bottom: 10px;
}

.fiche-populaire
{
    border-radius: 10px 0px 0px 10px; 
    box-shadow: 2px 2px 2px gray;
    border: solid 5px white;
    position : relative;
    width: 200px;
    height: 90px;
    margin : 30px 10px 10px 10px;
    padding: 20px 50px 20px 20px;
}

.descript-hotel
{
    position : absolute;
    background: white;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 2px 2px 2px gray;
    border: solid 5px white;
    padding : 10px;
    width: 155px;
    height: 110px;
    left : 130px;
    top : -21px;
    line-height: 1.3em; 
}

.radius-populaire
{
    border-radius: 10px 0px 0px 10px;
    width : 130px;
    height : 130px;
    position : relative;
    right: 20px;
    bottom : 20px;
    background-size: cover;
}

/* Activités */

#titre-activites
{
    position: absolute;
    font-weight: bold;
    margin-left: 20px;
    padding-left : 5px;
}

.ensemble-activites
{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items:flex-start;
    width: 100%;
    margin : 20px 20px 20px 20px;
}

.fiche-activite-unbloc
{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25% 75%;
    border-radius: 10px 10px 0px 0px; 
    box-shadow: 2px 2px 2px gray;
    position : relative;
    width: 195px;
    height: 250px;
    margin : 20px 5px 20px 5px;
    padding: 50px 20px 20px 20px;
}

.radius-unbloc
{
    border-radius: 10px 10px 0px 0px;
    width : 240px;
    height : 300px;
    position : relative;
    right: 25px;
    bottom : 50px;
}

.texte-unbloc
{
    position : absolute;
    background:white;
    border-radius: 0px 0px 10px 10px;
    padding : 10px 10px 10px 10px;
    width: 220px;
    height: 20px;
    top : 285px;
    left : -5px;
    box-shadow: 2px 2px 2px gray;
    font-weight: bold;
}

.deux-blocs
{
    display: flex;
    flex-direction: column;
}

.fiche-activite-deuxblocs-fort
{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25% 75%;
    border-radius: 10px 10px 0px 0px; 
    box-shadow: 2px 2px 2px gray;
    position : relative;
    width: 185px;
    height: 110px;
    margin : 20px 5px 20px 5px;
    padding: 50px 20px 20px 20px;
}

.radius-deuxblocs-fort
{
    border-radius: 10px 10px 0px 0px;
    width : 230px;
    height : 180px;
    position : relative;
    right: 25px;
    bottom : 50px;
}

.texte-deuxblocs-fort
{
    position : absolute;
    background: white;
    border-radius: 0px 0px 10px 10px;
    padding : 10px 10px 10px 10px;
    width: 210px;
    height: 20px;
    top : 140px;
    left : -5px;
    box-shadow: 2px 2px 2px gray;
    font-weight: bold;
}

.fiche-activite-deuxblocs-iles
{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25% 75%;
    border-radius: 10px 10px 0px 0px; 
    box-shadow: 2px 2px 2px gray;
    position : relative;
    width: 185px;
    height: 40px;
    margin : 20px 5px 20px 5px;
    padding: 50px 20px 20px 20px;
}

.radius-deuxblocs-iles
{
    border-radius: 10px 10px 0px 0px;
    width : 230px;
    height : 80px;
    position : relative;
    right: 25px;
    bottom : 50px; 
}

.texte-deuxblocs-iles
{
    position : absolute;
    background: white;
    border-radius: 0px 0px 10px 10px;
    padding : 10px 10px 10px 10px;
    width: 210px;
    height: 20px;
    top : 65px;
    left : -5px;
    box-shadow: 2px 2px 2px gray;
    font-weight: bold;
}

.fiche-activite-deuxblocs
{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25% 75%;
    border-radius: 10px 10px 0px 0px; 
    box-shadow: 2px 2px 2px gray;
    position : relative;
    width: 185px;
    height: 75px;
    margin : 20px 5px 20px 5px;
    padding: 50px 20px 20px 20px;
}

.radius-deuxblocs
{
    border-radius: 10px 10px 0px 0px;
    width : 230px;
    height : 150px;
    position : relative;
    right: 25px;
    bottom : 50px;
}

.texte-deuxblocs
{
    position : absolute;
    background: white;
    border-radius: 0px 0px 10px 10px;
    padding : 10px 10px 10px 10px;
    width: 210px;
    height: 20px;
    top : 100px;
    left : -5px;
    box-shadow: 2px 2px 2px gray;
    font-weight: bold;
}

/*Footer*/

.footer
{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    margin-top: 30px;
}

footer dl
{
    padding-right: 190px;
}

footer dt
{
    line-height: 2.5em;
    list-style-type: none;
}

footer dd
{
    line-height: 1.7em;
    list-style-type: none;
}

dt
{
    font-weight: bold;
    padding-left: 40px;
}

/* --------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:1024px)
{
    body
    {
        width : auto
    }

    header, .titre-site, .chapeau-titre
    {
        margin-left: 10px;
        margin-right: 10px;
    }

    .responsive 
    {
        display: contents;
    
    }
    .desktop
    {
        display: none;
    }
    button
    {
       background: #0065FC; 
       border : solid #0065FC;
       height: 38px;
       border-radius: 0px 10px 10px 0px;
    }
    .white
    {
        color: white;
    }
     
    .filtres
    {
        width: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
       justify-content: center;
       align-items: baseline;
       font-weight: bold; 
    }

    .filtres-row
    {
        display: flex;
    }
    .border_filtre
    {
        border: #F2F2F2 solid 2px; 
        border-radius: 20px;
        padding-right: 10px;
        margin : 0px 10px 10px 10px;

    }












ul 
    {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        flex-wrap: wrap-reverse;
        justify-content: flex-end;
        padding-left: 130px;
    
    }
    nav li
    {
        margin-right: 50px; 
    } 
    
    a
    {
        text-decoration: none;
        color: black;
       

    }
    #hebergement:hover
    {
        color: #0065FC; 
        border-top: 3px solid #0065FC;
        padding-bottom: 10px;
        
    }

    #inscription
    {
        color:#0065FC ;
        font-weight: bold;  

    }













    


    section
    {
        display: flex;
        flex-wrap: wrap; 
        margin: 10px; 
    }

    article
    {
        order : 2;
        align-items: center;
        margin: 10px;

    }

    aside
    {
        order :1;
        align-items: center;
        margin: 10px;
    }

    .fiche-activite-unbloc
    {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25% 75%;
    border-radius: 10px 10px 0px 0px; 
    box-shadow: 2px 2px 2px gray;
    position : relative;
    width: 230px;
    height: 75px;
    margin : 20px 5px 20px 5px;
    padding: 50px 20px 20px 20px;
    }

    .radius-unbloc
    {
    border-radius: 10px 10px 0px 0px;
    box-shadow: 2px 2px 2px gray;
    width : 280px;
    height : 150px;
    position : relative;
    right: 25px;
    bottom : 50px;
    }

    .texte-unbloc
    {
    position : absolute;
    background: white;
    border-radius: 0px 0px 10px 10px;
    padding : 10px 50px 10px 10px;
    width: 220px;
    height: 20px;
    top : 100px;
    left : -5px;
    box-shadow: 2px 2px 2px gray;
    font-weight: bold;
    }
    
    .ensemble-fiches
    {
        justify-content: space-around;
    }

    .ensemble-activites
    {
        justify-content: space-around;
    }

}